<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299473813107-n1930jmvcse8e7hm80eulgcaa2csh0vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299473813107-n1930jmvcse8e7hm80eulgcaa2csh0vk</string>
	<key>API_KEY</key>
	<string>AIzaSyAXH52GFAKRHbK5BIzyr88LeAvNTnAKin8</string>
	<key>GCM_SENDER_ID</key>
	<string>299473813107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tishDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>tishdeliveryapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tishdeliveryapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299473813107:ios:0ca19733591d3139057406</string>
</dict>
</plist>